/* These are variables in order to correctly set the size and make the site mobile-friendly. */

:root {
  --leftSidebarWidth: 18vw;
  --leftSidebarZero: -18vw;
  --sidebarButtonWidth: 15vw;
  --collapseButtonFontSize: 1vw;
  --leftButtonPaddingWidth: 2vw;
  --saveFunctionButtonSize: .85vw;
  --collapseButtonWidth: 8vw;
  --saveFunctionButtonWidth: 4vw;
  --mainButtonFontSize: 5vw;
  --normCounterFontSize: 4vw;
  --intCounterFontSize: 3vw;
}

/* This changes the variables to  */
@media (max-width: 979px) {
  :root {
    --collapseButtonFontSize: 3vw;
    --leftButtonPaddingWidth: 0;
    --sidebarButtonWidth: 12vw;
    --leftSidebarWidth: 26vw;
    --leftSidebarZero: -26vw;
    --saveFunctionButtonSize: 3vw;
    --collapseButtonWidth: 16vw;
    --saveFunctionButtonWidth: 12vw;
    --mainButtonFontSize: 15vw;
    --normCounterFontSize: 9vw;
    --intCounterFontSize: 7vw;
  }
  .sidebar-header {
    font-size: 2vw;
  }
}

/* Sets the font to the google font chosen for the site */
body {
  font-family: 'Share Tech mono', monospace;
}

.main-background { /*Yes, I know this is massive. Yes, it's one function. Yes, it does create a nice background.
                    Source: https://cssgradient.io */
  background-image: 
    linear-gradient(
      55deg, 
      rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, 
      rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%, rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),
    linear-gradient(
      291deg, 
      rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, rgba(105, 105, 105, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,
      rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),
    linear-gradient(
      32deg, 
      rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, 
      rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, 
      rgba(216, 216, 216, 0.03) 100%),
    linear-gradient(
      312deg, 
      rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,
      rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),
    linear-gradient(
      22deg, 
      rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, 
      rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),
    linear-gradient(
      80deg, 
      rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, rgba(114, 114, 114, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 57.144%, rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),
    linear-gradient(
      257deg, 
      rgba(72, 72, 72, 0.03) 0%, rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, 
      rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, 
      rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),
    linear-gradient(
      47deg, 
      rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, 
      rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,rgba(230, 230, 230, 0.01) 66.668%, 
      rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),
    linear-gradient(
      90deg, 
      #FFF,#FFF
    );
}

.lbackground {
  background-color: rgb(120, 120, 120);
}

.white-text {
  color: black;
}
.container-fluid {
  min-height: 100vh;
}

.main-row {
  width: 100vw;
}

.butn.grey {
  background-color: rgb(51, 51, 51);
  color: rgb(199, 199, 199);
  box-shadow: #999;
}

.butn.grey.main-button {
  font-size: var(--mainButtonFontSize);
  color: rgb(192, 192, 192);
}

.butn {
  display: inline-block;
  padding: 3% 3%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: 0px solid transparent;
}

.butn.black {
  background-color: rgb(141, 141, 141);
  color: rgb(241, 241, 241);
  box-shadow: #444;
}

.butn.large {
  border-radius: 15px;
  box-shadow: 0 9px
}

.butn.large:active {
  transform: translateY(4px);
  box-shadow: 0 5px rgb(20, 20, 20);
}

.butn.small {
  font-size: var(--saveFunctionButtonSize);
  border-radius: 3px;
  box-shadow: 0 3px
}

.butn.small:active {
  transform: translateY(2px);
  box-shadow: 0 1px #666666;
}

button:focus {
  outline: none!important;
}

.butn.grey:hover {
  background-color: rgb(20, 20, 20);
}

.butn.black:hover {
  background-color: #777;
}

.butn:active {
  background-color: #c9c9c9;
}


.ccwVertText {
  transform: rotate(270deg);
}

.cwVertText {
  transform: rotate(90deg);
}

.norm-counter {
  font-size: var(--normCounterFontSize);
}

.int-counter {
  font-size: var(--intCounterFontSize);
  white-space: nowrap;
}



.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
}

.leftSidebar.active {
  margin-left: 0px;
}

.leftSidebar {
  border-radius: 0px 0px 75px 0px;
  min-width: var(--leftSidebarWidth);
  max-width: var(--leftSidebarWidth);
  min-height: 100vh;
  transition: all 0.6s cubic-bezier(0.5, 0.28, 0.57, 0.91);
  transform-origin: center left;
  margin-left: var(--leftSidebarZero);
}


.sidebar-header {
  padding-top: 10px;
  padding-right: 1vw;
  padding-left: 1vw;
  color: #e7e7e7;
}

.butn.left {
  white-space: nowrap;
  float: left;
  font-size: var(--collapseButtonFontSize);
  min-width: var(--sidebarButtonWidth);
}

.align-left {
  float: left;
  min-width: 25vw;
  padding-left: var(--leftButtonPaddingWidth);
}

.Collapse {
  min-height: 4vh;
  max-height: 4vh;
  min-width: var(--collapseButtonWidth);
  max-width: var(--collapseButtonWidth);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-size: var(--collapseButtonFontSize);
  transform: translateX(2.5vw);
  transition: all 0.6s;
  transform-origin: bottom left;
  border-radius: 15px 15px 15px 15px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.Collapse.active {
  transform: translateX(0);
  transition: all 0.6s;
  transform-origin: bottom left;
  border-radius: 0px 2vh 2vh 0px;
  background-color: rgb(120, 120, 120);
  color: #e7e7e7;
  border: 0px solid transparent;
}

.pulloutMenu {
  visibility: visible;
}

.headerList {
  min-width: var(--sidebarButtonWidth);
  max-width: var(--sidebarButtonWidth);
}

.spacer {
  min-height: 3vh;
  max-height: 3vh;
}

.upgrade {
  margin: 3px;
}

.unit {
  margin: 3px;
}

.smpad {
  margin: 1px;
  min-width: var(--saveFunctionButtonWidth);
  max-width: var(--saveFunctionButtonWidth);
  min-height: var(--saveFunctionButtonWidth);
  max-height: var(--saveFunctionButtonWidth);
  margin: auto;
  margin-top: .25vh;
  margin-bottom: .25vh;
}

.invisible {
  height: 0px !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}
